# Dependencies
node_modules/

# Env files
.env
.env.local

# Build outputs
dist/
build/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# EAS
app/.eas/

# Xcode
app/ios/

# Server
server/uploads/